/* ================ reset 样式 start  ================ */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face{font-family:"FZXiJinLJW";src:url(//cdn.jsdelivr.net/gh/eallion/favorite@master/static/fonts/FZXiJinLJW.ttf) format("truetype")}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    font: normal 100%;
    font-weight: normal;
}
img {
    border-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none
}
html, body {
    background: #fff;
    height: 100%;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    outline: 0;
}
textarea {
    -webkit-appearance: none;
}
/* ================ reset 样式 end  ================ */
.inner-center {
    width: 75%;
    margin: 0 auto;
}
.main {
    padding-top: 5%;
    min-height: 100%;
}
.content-inside{
   padding-bottom: 76px;
}
.footer {
    height: 60px;
    text-align: center;
    margin-top: -60px; 
    /* position: relative;
    margin-top: -100px; 
    clear:both; */
}
.footer a, a:link, a:hover, a:visited, a:active {
    color: rgba(49, 70, 89, 1);
}
.footer p{
    margin: 16px 0;
}
/* logo start  */
.logo-box {
    overflow: hidden;
    align-items: center;
    font-size: 36px;
    color: #333;
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    font-weight: bold;
    padding-bottom: 31px;
}
/* logo end  */
/* 搜索框 start */
.search-section {
    /* 
    margin-top: 14px;
    margin-bottom: 40px;
    */
    padding-top: 14px;
    padding-bottom: 40px;
}
.search-section {
    position: relative;
    display: flex;
    width: 31%;
    margin: 0 auto;
}
.search-left {
    display: flex;
    width: 100%;
    height: 44px;
    line-height: 20px;
    border: 1px solid rgba(217, 217, 217, 0.96);
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
}
.search-logo {
    width: 40px;
    align-items: center;
    justify-content: center;
    background: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scgoogle.png") center center no-repeat;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    cursor: pointer;
}
.search-logo:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.search-methods {
    display: none;
    position: absolute;
    left: 0;
    top: 44px;
    width: 155px;
    max-width: 155px;
    border: 1px solid rgba(217, 217, 217, 0.96);
    background-color: #fff;
}
.search-methods li {
    padding-left: 39px;
    background: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scgoogle.png") 10px no-repeat;
    overflow: hidden;
    height: 34px;
    line-height: 34px;
    color: #545454;
    cursor: pointer;
}
.search-logo.baidu, li.baidu {
    background-image: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scbaidu.png");
}
.search-logo.bing, li.bing {
    background-image: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scbing.png");
}
.search-logo.sogou, li.sogou {
    background-image: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scsogou.png");
}
.search-logo.wangpan, li.wangpan {
    background-image: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scwangpan.png");
}
.search-logo.so, li.so {
    background-image: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scso.png");
}
.search-logo.google, li.google {
    background-image: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/scgoogle.png");
}
.search-methods .search-item:hover {
    background-color: #f0f0f0;
}
.search-result {
    display: none;
    position: absolute;
    max-width: 300px;
    top: 55px;
    left: 40px;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: #fff;
}
.result-item {
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
}
.result-item.active {
    background: #F0F0F0;
}
.result-item:hover {
    background-color: #eee;
    cursor: pointer;
}
.input-wrap {
    position: relative;
    flex: 1;
}
.input-wrap .search-input {
    height: 42px;
    width: 91%;
    outline: 0;
    border: 0;
    font-size: 16px;
    padding-left: 15px;
}
/* .input-wrap .search-input:focus{
	border-style:solid;
	border-color: #FDA31E 96%;
	box-shadow: 0 0 10px #FDA31E;
    } */
/* .search-left:focus{
    border-style:solid;
    border-color: #FDA31E 96%;
    box-shadow: 0 0 10px #FDA31E;
    } */
.input-wrap .clear-keyword {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #d2d2d2;
    font-size: 30px;
}
.search-submit {
    width: 20%;
    max-width: 125px;
    min-width: 44px;
    height: 44px;
    line-height: 26px;
    background: url("https://cdn.jsdelivr.net/gh/eallion/favorite@master/static/css/img/search.png") #1890ff  center no-repeat;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    border: 1px solid #1890ff;
    cursor: pointer;
}
/* 搜索框 end */
/*  导航内容 start  */
.nav-content {
    overflow: hidden;
}
/*  导航内容 end  */
/*内容区域*/
/*-----------------------------简洁版样式定义- 开始---------------------------------------------------*/
.jj-list {
    width: 100%;
    float: left;
    margin-top: 30px;
    /*padding-right: 16px;*/
}
.jj-list:nth-of-type(3n) {
    padding-right: 0;
}
.jj-list-tit {
    box-sizing: border-box; /*以IE盒子模型的width为标准*/
    font-size: 16px;
    line-height: 25px;
    color: rgba(49, 70, 89, 1);
    font-weight: bold;
    width: 100%; /*div等分*/
    margin: 0 0 10px 31px;
}
.jj-list-tit span{
    font-weight: normal;
}
.jj-list-con {
    overflow: hidden;
    margin: 0 auto;
}
.jj-list-con li {
    box-sizing: border-box; /*以IE盒子模型的width为标准*/
    padding: 1px 1px; /*设置div的内边距*/
    width: 16.6%; /*div等分成6部分*/
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.jj-list-con li a{
    display: block;
    /*background: rgba(230, 247, 255, 0.96);*/
    background: #f2f2f2;
    color:rgba(49, 70, 89, 1);
    font-size: 13px;
    text-align: left;
    padding-left: 1.7em;
    line-height: 44px;
    transition: all 0.2s;
    border-radius: 2px;
}
.jj-list-con li a img{
    height: 13px;
    margin-right: 8px;
}
.jj-list-con li a:hover {
    background: #1890FF 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.jj-list-con li a:hover img{
    height: 18px;
    margin-right: 8px;
}
/* 导航栏样式 */
.navigation{
    width: 100%;
    height: 50px;
    position: fixed;          /* 绝对定位（根据游览器边框定位） */
    top: -60;
    transition: top 0.5s;     /* 动画效果，top：显示的效果， 1s：是效果产生所花费的时间*/
    display: none;
    text-align: center;
    z-index: 1;
    background:#1890FF 100%;
}
/* 隐藏效果 */
.show_header{
    top: 0px;
    display:inline-block;
    text-align: center;
}
.header_ul {
    display:inline-block;
}
.header {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.header ul {
    max-width: 1000px;
    display:inline-block;
}
.header li {
    margin: 0 25px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 80px;
}
.header li a{
    display: block;
    color: #eee;
    font-size: 16px;
    font-weight: bold  ;
    text-align: center;
    line-height: 44px;
    transition: all 0.2s;
}
.header li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.eallion-nav{
    display: none;
}
.jinrishici-desc{
    font-family: 'FZXiJinLJW';
    font-weight: normal;
    white-space:nowrap;
    font-size: 1.3em;
}
/*-----------------------------简洁版样式定义- 结束---------------------------------------------------*/
/*-----------------------------手机自适应---------------------------------------------------*/
@media screen and (max-device-width: 768px) {
.jj-list-con li {
    width: 33.3%; /*div等分成3部分*/
}
.jj-list-con li a{
    padding-left: 0.7em;
}
.search-left {
    height: 39px;
}
.search-methods {
    top: 39px;
}
.search-submit {
    min-width: 39px;
    height: 39px;
}
.input-wrap .search-input {
    height: 37px;
}
.show_header, .result-item{
    display:none;
}
.search-section {
    padding-bottom: 10px;
    width: 78%;
}
.eallion-nav{
    display: inline-block;
}
.jinrishici-desc{
    display: none;
}
.jj-list-tit span{
    display: none;
}
}